1. Escribir una función que reciba una secuencia de números (puede ser lista o tupla y los números pueden ser enteros o decimales) y devuelva la cantidad de números, el valor máximo, el mínimo y la media.

In [20]:
sequence = (1, 89, 54, 98, 45, 23, 32.8, 1.3, 9.5)

def sequence_calc(sequence):
    
    length = len(sequence)
    
    max_value = max(sequence)
    
    min_value = min(sequence)
    
    #Cálculo de la media
    
    i = 0
    
    for mean in sequence:
        i += mean
    mean = round(i/length, 2)
    
    
    return length, max_value, min_value, mean

if __name__ == '__main__':
    
    length, max_value, min_value, mean = sequence_calc(sequence)
    
    print('La longitud de la secuencia es: {}'.format(length))
    print('El valor máximo de la secuencia es: {}'.format(max_value))
    print('El valor mínimo de la secuencia es: {}'.format(min_value))
    print('El valor medio de la secuencia es: {}'.format(mean))

La longitud de la secuencia es: 9
El valor máximo de la secuencia es: 98
El valor mínimo de la secuencia es: 1
El valor medio de la secuencia es: 39.29

2. Escribir un programa que, partiendo de las dos siguientes listas con nombres, borre de la lista uno los nombres de la lista dos.
 

lista_uno = ['Mario', 'Paula', 'David', 'Ana', 'Jorge', 'Ivan', 'Laura', 'Beatriz']

lista_dos = ['Paula', 'Francisco', 'Jorge', 'Juan', 'David']

In [30]:
list_one = ['Mario', 'Paula', 'David', 'Ana', 'Jorge', 'Ivan', 'Laura', 'Beatriz']

list_two = ['Paula', 'Francisco', 'Jorge', 'Juan', 'David']

def clean_list(list_one, list_two):
    
    for name in list_one:
        if name in list_two:
            list_one.remove(name)
        else:
            pass

    return list_one
        
if __name__ == '__main__':

    clean_names = clean_list(list_one, list_two)
    
    print('Final list: ', clean_names)

Final list:  ['Mario', 'David', 'Ana', 'Ivan', 'Laura', 'Beatriz']

In [25]:
#Tercera lista con todos los nombres sin repeticiones

list_one = ['Mario', 'Paula', 'David', 'Ana', 'Jorge', 'Ivan', 'Laura', 'Beatriz']
list_two = ['Paula', 'Francisco', 'Jorge', 'Juan', 'David']

list_three = list_one + list_two

mylist = list(dict.fromkeys(list_three))
print(mylist)

['Mario', 'Paula', 'David', 'Ana', 'Jorge', 'Ivan', 'Laura', 'Beatriz', 'Francisco', 'Juan']

3. Dado el siguiente diccionario de datos:

 

precios = {

     'ACCIONA': [78.60, 84.95, 77.20],

     'ACERINOX': [5.88, 51.25, 58.42],

     'INDITEX': [49.99, 57.89, 68.5],

     'ENEGAS': [0.5, 0.78, 48.75],

    'FERROVIAL': [78.58, 24.25, 65.45]

}

 

Modificar cualquier precio inferior a 50 y, finalmente, devolver el diccionario de datos actualizado por cada nombre de empresa.

In [11]:
precios = {
    'ACCIONA': [78.60, 84.95, 77.20],
    'ACERINOX': [5.88, 51.25, 58.42],
    'INDITEX': [49.99, 57.89, 68.5],
    'ENEGAS': [0.5, 0.78, 48.75],
    'FERROVIAL': [78.58, 24.25, 65.45]
}

def update_value(value):
    
    if value < 50:
        return 50
    else:
        return value

def update_dict(input_dict):

    for campo_clave in input_dict.keys():
        
        sub_lista = input_dict[campo_clave]
        
        for item_lista in range(len(sub_lista)):
            sub_lista[item_lista] = update_value(value=sub_lista[item_lista])
        
        input_dict[campo_clave] = sub_lista
        
    return input_dict

def show_companies(dict_object):

    for item in dict_object.keys():
        print('La empresa {} tiene los siguientes precios {}'.format(item, dict_object[item]))
        
if __name__ == '__main__':
    clean_dict = update_dict(input_dict = precios)
    show_companies(dict_object=clean_dict)

La empresa ACCIONA tiene los siguientes precios [78.6, 84.95, 77.2]
La empresa ACERINOX tiene los siguientes precios [50, 51.25, 58.42]
La empresa INDITEX tiene los siguientes precios [50, 57.89, 68.5]
La empresa ENEGAS tiene los siguientes precios [50, 50, 50]
La empresa FERROVIAL tiene los siguientes precios [78.58, 50, 65.45]

A través de una secuencia del cero al diez, determinar si el número es par, mostrar su exponencial de dos y, si no, que lo divida entre dos.

In [18]:
for i in range(11):

    if i % 2 == 0:
        print('el número', i, 'es par y su exponencial de dos es', i**2, '\n')

    else:
        print('el número', i, 'es impar y su división entre dos es', i/2, '\n')

el número 0 es par y su exponencial de dos es 0

el número 1 es impar y su división entre dos es 0.5

el número 2 es par y su exponencial de dos es 4

el número 3 es impar y su división entre dos es 1.5

el número 4 es par y su exponencial de dos es 16

el número 5 es impar y su división entre dos es 2.5

el número 6 es par y su exponencial de dos es 36

el número 7 es impar y su división entre dos es 3.5

el número 8 es par y su exponencial de dos es 64

el número 9 es impar y su división entre dos es 4.5

el número 10 es par y su exponencial de dos es 100

Elabora un programa que realice la tabla de multiplicar del uno al nueve.

In [19]:
for i in range(10):
    
    if i == 0:
        pass
    
    else:
        for multiplicador in range(10):
            print(i, ' * ', multiplicador, ' = ', i * multiplicador)
        
        print('\n')

1  *  0  =  0
1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9


2  *  0  =  0
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18


3  *  0  =  0
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27


4  *  0  =  0
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36


5  *  0  =  0
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45


6  *  0  =  0
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54


7  *  0  =  0
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63


8  *  0  =  0
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72


9  *  0  =  0
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

Mientras el valor numérico de una variable (con valor “1”) no sea igual a “10”, imprimiremos “ERROR !” en cada iteración y sumaremos uno al valor actual de la variable.

In [20]:
i = 1

while i != 10:
    print('ERROR!')
    i += 1
else:
    print('La variable i ya tiene el valor 10')

ERROR!
ERROR!
ERROR!
ERROR!
ERROR!
ERROR!
ERROR!
ERROR!
ERROR!
La variable i ya tiene el valor 10

Mientras el usuario no teclee la cadena de texto “‘fin’”, el programa seguirá solicitando la entrada de una nueva cadena de texto.

In [21]:
cadena = input('Introduce una palabra ')

while not cadena == 'fin': # Equivalente a while cadena != 'fin'
    print('La palabra introducida ', cadena, ' no es fin')
    cadena = input('Introduce una nueva palabra ')
else:
    print(cadena)

Introduce una palabra hola
La palabra introducida  hola  no es fin
Introduce una nueva palabra caracola
La palabra introducida  caracola  no es fin
Introduce una nueva palabra adiós
La palabra introducida  adiós  no es fin
Introduce una nueva palabra timón
La palabra introducida  timón  no es fin
Introduce una nueva palabra fin
fin

In [26]:
text = 'The quick brown fox jumps over the lazy dog'

result = len(text.split())

print("There are " + str(result) + " words")

There are 9 words

In [29]:
bucket_list = 'Japan, Singapore, Maldives, Europe, Italy, Korea'

result = len(bucket_list.split(','))

print(bucket_list.split(','))

print("There are ", result, " words.")

['Japan', ' Singapore', ' Maldives', ' Europe', ' Italy', ' Korea']
There are  6  words.

In [30]:
bucket_list = 'Japan, Singapore, Maldives, Europe, Italy, Korea'

result = len(bucket_list.split(',', 3))

print(bucket_list.split(',', 3))

print("There are " + str(result) + " words.")

['Japan', ' Singapore', ' Maldives', ' Europe, Italy, Korea']
There are 4 words.