## Set Length

In [2]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

## The set() Constructor

In [5]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

## Access Items

In [6]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
cherry
banana

In [7]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

## Duplicates Not Allowed

In [1]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

## Add Items, Sets and iterable object

In [8]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'orange', 'banana'}

In [9]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'cherry', 'apple', 'pineapple', 'mango', 'banana'}

In [10]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'cherry', 'apple', 'orange', 'banana'}

## Remove Set Items

In [11]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana") # If the item to remove does not exist, remove() will raise an error

print(thisset)

{'apple', 'cherry'}

In [12]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana") # If the item to remove does not exist, discard() will NOT raise an error

print(thisset)

{'apple', 'cherry'}

In [13]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop() # Sets are unordered, so you will not know what item that gets removed

print(x)

print(thisset)

apple
{'cherry', 'banana'}

In [14]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [15]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

## Loop Sets

In [16]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
cherry
banana

## Join Sets

In [18]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2) # The union() method returns a new set with all items from both sets
print(set3)

{'c', 1, 2, 3, 'b', 'a'}

In [19]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2) # The update() method inserts the items in set2 into set1
print(set1)

{'c', 1, 2, 3, 'b', 'a'}

In [20]:
# Keep ONLY the Duplicates

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [21]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) # return a new set

print(z)

{'apple'}

In [22]:
# Keep All, But NOT the Duplicates

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'google', 'banana'}

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y) # return a new set

print(z)

{'microsoft', 'cherry', 'google', 'banana'}

## Set Methods

- add()	Adds an element to the set


- clear()	Removes all the elements from the set


- copy()	Returns a copy of the set


- difference()	Returns a set containing the difference between two or more sets


- difference_update()	Removes the items in this set that are also included in another, specified set


- discard()	Remove the specified item


- intersection()	Returns a set, that is the intersection of two other sets


- intersection_update()	Removes the items in this set that are not present in other, specified set(s)


- isdisjoint()	Returns whether two sets have a intersection or not


- issubset()	Returns whether another set contains this set or not


- issuperset()	Returns whether this set contains another set or not


- pop()	Removes an element from the set


- remove()	Removes the specified element


- symmetric_difference()	Returns a set with the symmetric differences of two sets


- symmetric_difference_update()	inserts the symmetric differences from this set and another


- union()	Return a set containing the union of sets


- update()	Update the set with the union of this set and others