## Tuple Length

In [4]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple)) # To determine how many items a tuple has

3

## The tuple() Constructor

In [2]:
thistuple = tuple(("apple", "banana", "cherry")) # Note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

## Access Tuple Items

In [5]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

## Negative Indexing

In [6]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1]) # Negative indexing means start from the end

cherry

## Range of Indexes

In [7]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5]) # The search will start at index 2 (included) and end at index 5 (not included)

('cherry', 'orange', 'kiwi')

In [8]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4]) # By leaving out the start value, the range will start at the first item

('apple', 'banana', 'cherry', 'orange')

In [9]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:]) # By leaving out the end value, the range will go on to the end of the list

('cherry', 'orange', 'kiwi', 'melon', 'mango')

## Range of Negative Indexes

In [10]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

## Check if Item Exists

In [11]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

## Change Tuple Values (workaround)

In [12]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

## Add Items (workaround)

In [15]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [29]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",) # When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

## Remove Items (workaround)

In [17]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [18]:
thistuple = ("apple", "banana", "cherry")
del thistuple # Delete the tuple completely

print(thistuple)

NameError: name 'thistuple' is not defined

## Unpacking a Tuple

In [23]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

### Using Asterisk

In [20]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [21]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

## Loop tuples

In [24]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [25]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [1]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i += 1

apple
banana
cherry

## Join tuples

In [33]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [34]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## Tuple Methods

- count()	Returns the number of times a specified value occurs in a tuple


- index()	Searches the tuple for a specified value and returns the position of where it was found